<h1>Your Viewing Party Details</h1>

<section class="new-party-form">
  <p>Movie Title: <%= @movie.title %></p>
  <%= render partial: 'shared/party', locals: {button_text: 'Create Party' } %>
</section>
