{"http_interactions":[{"request":{"method":"get","uri":"https://api.themoviedb.org/3/movie/320288?api_key=movies_secret","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Memc":["HIT"], "X-Memc-Key":["9767e75e6aec67e68e7203f5af8dc8b616f9ef7d"], "X-Memc-Age":["12929"], "X-Memc-Expires":["8671"], "Etag":["W/\"686d5f85add941ce3a43c56411496f60\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"adult\":false,\"backdrop_path\":\"/phxiKFDvPeQj4AbkvJLmuZEieDU.jpg\",\"belongs_to_collection\":{\"id\":748,\"name\":\"X-Men Collection\",\"poster_path\":\"/31rqs6ZxFdi5nWZZaFPIr17q8jt.jpg\",\"backdrop_path\":\"/roZFGw3Rg6VOYty9y4r5WvgvXoC.jpg\"},\"budget\":200000000,\"genres\":[{\"id\":878,\"name\":\"Science Fiction\"},{\"id\":28,\"name\":\"Action\"},{\"id\":12,\"name\":\"Adventure\"}],\"homepage\":\"http://darkphoenix.com\",\"id\":320288,\"imdb_id\":\"tt6565702\",\"original_language\":\"en\",\"original_title\":\"Dark Phoenix\",\"overview\":\"The X-Men face their most formidable and powerful foe when one of their own, Jean Grey, starts to spiral out of control. During a rescue mission in outer space, Jean is nearly killed when she's hit by a mysterious cosmic force. Once she returns home, this force not only makes her infinitely more powerful, but far more unstable. The X-Men must now band together to save her soul and battle aliens that want to use Grey's new abilities to rule the galaxy.\",\"popularity\":216.518,\"poster_path\":\"/kZv92eTc0Gg3mKxqjjDAM73z9cy.jpg\",\"production_companies\":[{\"id\":431,\"logo_path\":null,\"name\":\"The Donners' Company\",\"origin_country\":\"US\"},{\"id\":25,\"logo_path\":\"/qZCc1lty5FzX30aOCVRBLzaVmcp.png\",\"name\":\"20th Century Fox\",\"origin_country\":\"US\"},{\"id\":28788,\"logo_path\":null,\"name\":\"Genre Films\",\"origin_country\":\"US\"},{\"id\":9168,\"logo_path\":\"/hQNXrYIuyLRxMSBuGHk0GX7CCBS.png\",\"name\":\"Bad Hat Harry Productions\",\"origin_country\":\"US\"},{\"id\":7505,\"logo_path\":\"/837VMM4wOkODc1idNxGT0KQJlej.png\",\"name\":\"Marvel Entertainment\",\"origin_country\":\"US\"},{\"id\":112049,\"logo_path\":null,\"name\":\"Kinberg Genre\",\"origin_country\":\"US\"},{\"id\":22213,\"logo_path\":\"/qx9K6bFWJupwde0xQDwOvXkOaL8.png\",\"name\":\"TSG Entertainment\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"2019-06-05\",\"revenue\":252442974,\"runtime\":114,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"The Phoenix will rise.\",\"title\":\"Dark Phoenix\",\"video\":false,\"vote_average\":6.1,\"vote_count\":4415}"}},"recorded_at":"Tue, 30 Mar 2021 17:41:51 GMT"}],"recorded_with":"VCR 6.0.0"}