<h2>Welcome to Viewing Party</h2>

<h4>Within this app, you will be able to explore movies and create a viewing party event for you and your friends to watch a movie together.</h4>

<%= button_to "Sign In", login_path %>
<%= link_to "New to Viewing Party? Register Here", registration_path %>
